.burgerMenu {
  font-size: 30px;
  color: #00ff55;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: none; /* Скрыто по умолчанию */
  z-index: 99999;
}

@media (max-width: 768px) {
  .burgerMenu {
    display: block;
  }
}

.burgerMenu:hover {
  transform: scale(1.1); /* Увеличение при наведении */
}
