.installedRoofSection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f7fa;
  padding: 50px 20px;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease forwards;
}

.image {
  width: 50%;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}

.textContainer {
  width: 50%;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transform: translateX(30px);
  animation: fadeInText 1s ease 0.5s forwards;
}

.heading {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: color 0.3s ease;
}

.description {
  font-size: 1.2rem;
  color: #34495e;
  line-height: 1.6;
}

.image:hover {
  transform: scale(1.05); /* Увеличение изображения при наведении */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }

  .image,
  .textContainer {
    width: 100%;
  }

  .heading {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
}
