.photovoltaicSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #005f99, #66a3ff);
  text-align: center;
  padding: 50px;
}

.content {
  color: white;
  max-width: 800px;
  padding: 0 15px;
}

.sunImage {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.moduleTitle {
  font-size: 2.5rem;
  margin: 20px 0;
}

.moduleText {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0 20px;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .photovoltaicSection {
    height: auto; /* Высота автоматически для мобильных устройств */
    padding: 40px 10px; /* Увеличенные отступы для мобильных устройств */
  }

  .sunImage {
    width: 100px; /* Уменьшенная ширина солнца для мобильных устройств */
    height: 100px;
  }

  .moduleTitle {
    font-size: 2rem; /* Уменьшенный размер заголовка для мобильных устройств */
  }

  .moduleText {
    font-size: 1rem; /* Уменьшенный размер текста для мобильных устройств */
    margin: 0 10px; /* Уменьшенные отступы для мобильных устройств */
  }
}

@media (max-width: 480px) {
  .moduleTitle {
    font-size: 1.8rem; /* Дополнительное уменьшение для очень маленьких экранов */
  }

  .moduleText {
    font-size: 0.9rem; /* Дополнительное уменьшение текста для очень маленьких экранов */
  }
}
