/* Основные стили */
.slideContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.sectionhome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 10;
  margin-bottom: 250px;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.textContainerHome {
  transform: translateX(-50%);
  z-index: 5;
  color: white;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 600px;
  border: 2px solid gold;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.elegantHeading {
  font-family: "Georgia", serif;
  font-size: 2rem;
  font-weight: bold;
  color: #ffd700;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.luxuryDescription {
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
  color: white;
  line-height: 1.5;
  text-align: center;
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.homeImage,
.panelImage,
.sunImage {
  position: relative;
  max-width: 100%;
}

.batteryImage {
  margin-left: auto;
  margin-right: auto;
  font-size: 150px;
  color: yellow;
  display: block;
}

.sunImage {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.textContainer {
  position: absolute;
  top: 70%;
  width: 600px;
  text-align: center;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border: 3px solid gold;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
  display: inline-block;
}

.mainTitle,
.subTitle,
.highlightText,
.sunText,
.nightMessage,
.storageText {
  color: white;
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.nightImage {
  opacity: 0;
}

.homeImageNight {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Анимация и эффекты для ночи */
.nightMessage {
  position: absolute;
  top: 10%;
  width: 70%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid yellow;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
}

.highlightBox {
  padding: 15px;
  border-radius: 10px;
  width: 500px;
  background-color: rgba(255, 215, 0, 0.5);
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* Адаптивные стили для планшетов и настольных компьютеров */
@media (min-width: 1024px) {
  .homeImage {
    width: 400px;
  }

  .panelImage {
    width: 400px;
  }

  .sunImage {
    width: 150px;
  }

  .mainTitle {
    font-size: 32px;
  }

  .subTitle,
  .highlightText,
  .sunText,
  .nightMessage,
  .storageText {
    font-size: 2rem;
  }
}

/* Адаптивные стили для планшетов (ширина 600-1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
  .homeImage {
    width: 300px;
  }

  .panelImage {
    width: 300px;
  }

  .sunImage {
    width: 120px;
  }

  .mainTitle {
    font-size: 2rem;
  }

  .subTitle,
  .highlightText,
  .sunText,
  .nightMessage,
  .storageText {
    font-size: 1.75rem;
  }
}

/* Адаптивные стили для мобильных устройств (до 600px) */
@media (max-width: 600px) {
  .homeImage {
    width: 200px;
  }

  .panelImage {
    width: 200px;
  }

  .sunImage {
    width: 100px;
  }

  .mainTitle {
    font-size: 1.5rem;
  }

  .subTitle,
  .highlightText,
  .sunText,
  .nightMessage,
  .storageText {
    font-size: 1.25rem;
  }

  .textContainer {
    width: 90%;
    padding: 15px;
    font-size: 1rem;
  }
  .highlightBox {
    width: 300px;
  }
  .textContainerHome {
    width: 300px;
  }
}

/* Исправления для отображения ночи */
@media (max-width: 1024px) {
  .backgroundImage {
    display: block;
    height: 100vh;
  }

  .dayImage {
    opacity: 1;
  }

  .nightImage {
    opacity: 0;
    transition: opacity 2s ease;
  }

  @media (max-width: 600px) {
    .nightImage {
      opacity: 1;
    }
  }
}
